.image-thumbnail {
    width: 100px;
}
.card .card-header{
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}
.card .card-header h4 {
    color: white;
    text-align: center;
}

.card .card-body input textarea {
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e91e63;
}
