.image-thumbnail {
    width: 100px;
}

.card .card-header {
    background: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}

.card .card-header h4 {
    color: white;
    margin: auto auto;
}

.card .card-body input textarea {
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e91e63;
}

.nav-tabs .nav-link {
    padding: 1rem .75rem;
}

#search-input {
    margin-right: 0;
}

#search-button {
    margin-left: -2.5rem;
    z-index: 10;
}

.ui-autocomplete {
    width: 30vw;
    background: white;
}

/* Star Rating */
.rating-modal div {
    color: #ffc107;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.rating-modal input {
    display: none;
}

.rating-modal input + label {
    font-size: 2rem;
    cursor: pointer;
}

.rating-modal input:checked + label ~ label {
    color: #afafaf;
}

.rating-modal label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.modal-title {
    color: black;
    text-transform: none;
}

/* End of Star Rating */
